<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Comparador de Tiempo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comparador_de_tiempo_Proyecto_MAMR_202526"
        tools:targetApi="31">
        <activity android:name=".HistorialActivity"></activity>
        <activity android:name=".ResultadoHistorial"></activity>
        <activity android:name=".Comparacion_activity" />
        <activity android:name=".ResultadoComparacionActivity" />
        <activity android:name=".UsuarioActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Registro" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>